$fontStack:    Helvetica, sans-serif;
$fontColorMain: #CCC;
$backgroundColorMain: #333;
$backgroundColorAlt: #CCC;

body {
  font: 100% $fontStack;
  color: $fontColorMain;
  background-color: $backgroundColorMain;
}

.navigationMain{
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: $backgroundColorAlt;
	}

	li {
		float: left;

		a:hover, .dropdown:hover .dropbtn {
		background-color: red;
		}

		&.dropdown {
			display: inline-block;
		}

		ul {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;

			a {
				color: black;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				text-align: left;

				&:hover {
					background-color: #f1f1f1
				}
			}
		}

		ul:hover ul {
			display: block;
		}
	}
}